<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/obniz@2.2.0/obniz.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
    <!-- <script type="text/javascript" src ="/javascripts/quiz.js"></script> -->
    <script type="text/javascript" src ="/javascripts/obniz.js"></script>
  </head>

  <body>
    <!-- Title -->
    <h2>クイズ</h2>
    <h3 class="quiz">「し」で始まるアンパンマンに新しい仲間が増えました。 その名前は？</h3>
    <hr/>
    <p>残り時間</p>
    <p class="rest_time"></p>
    <p class="user_id"></p>
    <p>さんは回答してください</p>
    <hr/>
  </body>

</html>
