<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://unpkg.com/obniz@2.2.0/obniz.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
  <!-- <script type="text/javascript" src ="/javascripts/quiz.js"></script> -->
  <script type="text/javascript" src="/javascripts/obniz.js"></script>
</head>

<body>
  <!-- Title -->
  <h2>サウンド</h2>
  <h3 class="sounds">音を拾う開発ページ</h3>
  <hr />
  <p>残り時間</p>
  <p class="rest_time"></p>
  <p class="user_id"></p>
  <p>さんは回答してください</p>
  <hr />
</body>

</html>